.hero__button {
    height: 60px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    min-width: 130px;
    color: $pbgc;
    background-color: $btnbgc;
    border: 1px solid $ptxc;
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
}