.frames-section {
    background-color: #f7f6f1;
    padding-top: 100px;
}

.frames {
  display: flex;
  padding-bottom: 100px;
  &__left {
    display: block;
    text-align: left;
  }
  &__right {
    display: block;
    margin-left: auto;
    text-align: left;
  }
  &__item-1 {
    margin-bottom: 50px;
  }
  &__item-4 {
    margin-right: 50px;
    margin-bottom: 50px;
  }
  &__item-7 {
 margin-top: 50px;
 width: 500px;
  }
  &__p {
    margin-top: 40px;
    margin-bottom: 40px;
  } 
}
