.header {
  background-color: $ptxc;
  &__logo-blue {
    color: #0f6bd0;

    font-family: Aleo, serif;
    font-weight: 700;
    font-size: 38px;
  }

  &__logo-yellow {
    margin-left: 10px;

    color: #fed501;

    font-family: Aleo, serif;
    font-weight: 700;
    font-size: 38px;
  }
  &__word {
    margin-left: auto;

    color: $btnbgc;

    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .item {
    :hover,
    :focus {
      color: #fa9494;
    }
  }

  &__item
    :hover,
    :focus {
      color: #fa9494;
    }

  &__link {
    display: block;
    margin-left: 15px;

    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.04em;
  }
}
