.hero {
  background-image: url('../images/hero-bg-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 100px;
  &__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1320px;
  }
  &__img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  &__img-title {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
  }
  &__text {
    max-width: 620px;
    margin-bottom: 80px;
    text-align: left;
  }
  &__audio-text-btn {
    display: flex;
    justify-content: space-between;
  }
  &__p {
    font-size: 22px;
  }
}
