.house-one {
  background-color: #f7f6f1;
  padding-top: 100px;
  &__text-img {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
  }
  &__img-1 {
    padding-right: 10px;
    padding-bottom: 10px;

    border-color: RGBA(255, 255, 255, 0);
    border-right-width: 10px;
    border-bottom-width: 10px;
    box-shadow: 6px 6px 0px -5px #eb1d36;
  }
  &__text {
    text-align: left;
  }
  &__p {
    margin-top: 40px;
  }
  &__lis {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
